/* Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-image: radial-gradient(rgb(103, 255, 161), black);
    font-family: Trebuchet MS, sans-serif;
}

body {
    background-image: url("./assets/images/laughing-crowd-bg.png");
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250vh;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">🤣</text></svg>')
      16 16,
    auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0b3f2e;
    color: #ddd;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
    border-top: 1px solid rgba(0, 255, 128, 0.5);
    font-size: 1.2rem;
}

h1 {
    font-family: Trebuchet MS, sans-serif;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: clamp(1.7rem, 2.2vw, 2.2rem);
    text-align: center;
}

#getJokeButton {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 1rem;
    background-image: radial-gradient( #1DAE80, #7250B2);
    border-radius: 1rem;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
    border: 5px ridge #8360C3;
    text-shadow: 5px 5px 2px black;
}

#getJokeButton:hover {
    transform: scale(105%);
    box-shadow: 2px 2px 2px 2px black;
}

.safeMode {
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-image: radial-gradient(rgba(0, 154, 214, 1), rgba(0, 0, 0, 1));
    color: white;
}

.safeMode button {
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(1rem, 1vw, 1.5rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

main label {
    display: grid;
    gap: 0.4rem;
    margin-top: 1rem;
    color: white;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    background-image: radial-gradient(rgba(0, 154, 214, 1), rgba(0, 0, 0, 1));
    border-radius: 1rem;
    padding: 1rem;
}

main select {
    background-color: black;
    color: #ffe159ff;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.joke-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.joke-card {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgba(0, 154, 214, 1), rgba(0, 0, 0, 1));
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.joke-card h3 {
    font-size: clamp(1.5rem, 2.3vw, 2rem);
}

.joke-card p {
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    font-family: sans-serif;
    text-align: center;
    background-image: radial-gradient(rgba(39, 31, 31, 1), black);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.joke-card img {
    width: 100%;
    border-radius: 1rem;
}

.joke-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgba(39, 31, 31, 1), black);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.joke-card-header img {
    width: 50px;
}

.loading-text {
    position: absolute;
    animation: blinking 1s ease-out infinite;
}


/* Extra */
.laughing-dragon {
    position: fixed;
    top: 20%;
    right: 10%;
    width: clamp(150px, 20%, 250px);
    background-image: url("./assets/images/laughing-dragon.png");
    background-size: cover;
    z-index: 100;
    opacity: 1;
    animation: floaty 2s linear infinite;
}

@keyframes floaty {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px); /* top-right */
  }
  50% {
    transform: translate(40px, 0); /* right */
  }
  75% {
    transform: translate(20px, 20px); /* bottom-right */
  }
  100% {
    transform: translate(0, 0); /* back to start */
  }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}