/* Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-image: radial-gradient(rgb(164, 255, 193), black);
}

body {
    background-image: url("./assets/images/laughing-crowd-bg.png");
    background-size: cover;
    width: 100%;
    min-height: 200vh;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">👻</text></svg>')
      16 16,
    auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: cursive;
}

.joke-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.joke-card {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, rgb(0, 119, 255) -50%, rgb(10, 57, 0), rgb(0, 119, 255) 150%);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.joke-card h3 {
    font-size: 1.5rem;
}

.joke-card p {
    font-size: 1.3rem;
}

.joke-card img {
    width: 60%;
    border-radius: 1rem;
}


/* Extra */
.ghost {
    position: fixed;
    top: 40%;
    right: 10%;
    width: 100px;
    height: 120px;
    background-image: url("./assets/laughing-dragon.png");
    border-radius: 50% 50% 30% 30% / 60% 60% 40% 40%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    z-index: 100;
    opacity: 1;
    animation: floaty 1s ease-in infinite;
}
.ghost::before,
.ghost::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 33%;
    height: 30%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.ghost::before {
    left: 0;
}
.ghost::after {
    right: 0;
}

.ghost .eyes {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.ghost .eyes::before,
.ghost .eyes::after {
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}

@keyframes floaty {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px); /* top-right */
  }
  50% {
    transform: translate(40px, 0); /* right */
  }
  75% {
    transform: translate(20px, 20px); /* bottom-right */
  }
  100% {
    transform: translate(0, 0); /* back to start */
  }
}